<!DOCTYPE html>
<html lang="en">
<head>
    <style>
        h2 {text-align: center;}
        form {text-align: center;}
        div {text-align: center;}
    </style>
    <meta charset="UTF-8">
    <title>Movie Logs</title>
</head>
<body>
    <div class="navbar">
        <a href="{% url 'search' %}">Search</a>
        <a href="{% url 'add_movie' %}">Add Movie</a>
        <a href="{% url 'add_log' %}">Add Log</a>
        <a href="{% url 'view_logs' %}">View Logs</a>
        <a href="{% url 'update_movie_log' %}">Update Movie Log</a>
        <a href="{% url 'report' %}">Generate Report</a>
    </div>
    <h2>Add Log</h2>
<form method="post" action="{% url 'add_log' %}">
    {% csrf_token %}
    <label for="user_id">User ID:</label>
    <input type="text" id="user_id" name="user_id"><br>
    <label for="movie">Movie:</label>
    <input type="text" id="movie" name="movie"><br>
    <label for="date_watched">Date Watched:</label>
    <input type="date" id="date_watched" name="date_watched"><br>
    <label for="rating">Rating:</label>
    <input type="number" id="rating" name="rating" min="1" max="10"><br>
    <button type="submit">Add Log</button>
</form>
</html>