<!DOCTYPE html>
<html lang="en">
<head>
    <style>
        h2 {text-align: center;}
        form {text-align: center;}
        div {text-align: center;}
        ul {
            text-align: center;
            list-style-position: inside;
            font-size: large;
            color: maroon;
            font-weight: bold;
        }
        li {text-align: center;}
    </style>
    <meta charset="UTF-8">
    <title>Generate Movie Log Report</title>
</head>
<body>
    <div class="navbar">
        <a href="{% url 'search' %}">Search</a>
        <a href="{% url 'add_movie' %}">Add Movie</a>
        <a href="{% url 'add_log' %}">Add Log</a>
        <a href="{% url 'view_logs' %}">View Logs</a>
        <a href="{% url 'update_movie_log' %}">Update Movie Log</a>
        <a href="{% url 'report' %}">Generate Report</a>
    </div>
<h2>Generate Movie Log Report</h2>
<form method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit">Generate Report</button>
</form>

{% if movie_logs %}
    <h2>Movie Log Report</h2>
    <ul>
        {% for log in movie_logs %}
            <li>{{ log.movie }} ({{log.movie.year}}) - {{ log.date_watched }} - {{ log.rating }}</li>
        {% endfor %}
    </ul>
{% endif %}
</body>
</html>